In [1]:
# PROBLEMS:
# chefs club alias changed
#  - store yelp_alias_list; have a way to find original

In [2]:
#  - input data; load soup; get latest ratings history; get latest rating... (store history)
#  - need to store point-in-time history for: rating, review count, price_range
#  - only store changes (i.e. no new entry if business_name/rating/price_range does not change)
#  - to access data: max(insert_date) as last_updated, [data]
#  - for yelp_alias: [insert_date, yelp_biz_id (hopefully this is unique & doesn't change),
#                     metric_name (yelp_alias), metric_value (new_alias)]
#  - to retrieve all aliases: groupby(yelp_biz_id).make_list(yelp_alias)?
#  - first: build latest version of data, in order to determine if a data point has changed

In [3]:
# TODO:
# date_added, date_visited
# unittest
# rating_better & rating_worse over time (are the restaurants better/worse after I went?)
# test PSQL locally; store as JSON
# check data before writing, if different throw error
# - (i.e. new categories, historical ratings_history changes, address changes)

In [4]:
# TESTS:
# test that ratings_distribution_text is a list of length 10
# test that ratings_distribution data averages to rating

In [5]:
# date_visited_rating = ratings_history[date_visited.year][date_visited.month-1][1]
# most_recent_rating = ratings_history[max(ratings_history.keys())][-1][1]

In [6]:
# Imports
import ast
import bs4
import collections
import copy
import datetime
import json
import pandas
import re
import requests
import sqlite3
import urllib

### Define

In [7]:
def get_yelp_alias(soup):
    # TODO: test that input_yelp_alias == scraped_yelp_alias; url may get re-routed
    yelp_alias = soup.find('meta', {'property': 'og:url'})
    yelp_alias = yelp_alias['content'].split('/')[-1]
    return yelp_alias

In [8]:
def get_yelp_biz_id(soup):
    yelp_biz_id = soup.find('meta', {'name': 'yelp-biz-id'})
    yelp_biz_id = yelp_biz_id['content']
    return yelp_biz_id

In [9]:
def get_is_closed(soup):
    is_closed = 'CLOSED' in soup.title.text
    return is_closed

In [10]:
def get_business_name(soup):
    business_name = soup.find('h1', {'class': 'biz-page-title'})
    business_name = business_name.text.strip()
    return business_name

In [11]:
def get_rating(soup):
    rating = soup.find('div', {'class': 'i-stars'})
    rating = rating['title'].split()[0]
    rating = float(rating)
    return rating

In [12]:
def get_review_count(soup):
    review_count = soup.find('span', {'class': 'review-count rating-qualifier'})
    review_count = review_count.text.strip().split()[0]
    review_count = int(review_count)
    return review_count

In [13]:
def get_ratings_history(soup):
    ratings_history = soup.find('div', {'id': 'rating-details-modal-content'})
    ratings_history = ratings_history['data-monthly-ratings']
    ratings_history = ast.literal_eval(ratings_history)
    ratings_history = {int(k):v for k,v in ratings_history.items()}
    ratings_history = json.dumps(ratings_history)    # stringify for sqlite; note that JSON keys are strings 
    return ratings_history

In [14]:
def get_ratings_distribution(soup):
    # Convert HTML table to len-10 string list
    text = soup.find('table', {'class': 'histogram'})
    text = text.text.replace('\n', ' ')
    text = re.sub(' {2,}', ',', text)    # Replace 2+ whitespace with 1 comma
    text = text.strip(',').split(',')
    
    # Convert string list to dictionary
    ratings = [text[i] for i in range(len(text)) if i%2 == 0]
    ratings = [i.split()[0] for i in ratings]
    ratings = [int(i) for i in ratings]
    counts  = [text[i] for i in range(len(text)) if i%2 != 0]
    counts  = [int(i) for i in counts]
    ratings_distribution = {'rating' : ratings, 'count' : counts}
    ratings_distribution = json.dumps(ratings_distribution)    # stringify for sqlite
    return ratings_distribution

In [15]:
# ratings_distribution = pandas.DataFrame(ratings_distribution)
# ratings_distribution['contrib'] = ratings_distribution['rating'] * ratings_distribution['count']
# ratings_distribution['contrib'].sum()/ratings_distribution['count'].sum()

In [16]:
def get_price_range(soup):
    price_range = soup.find('span', {'class': 'business-attribute price-range'})
    price_range = price_range.text.count('$')
    return price_range

In [17]:
def get_category_list(soup):
    category_list = soup.find('span', {'class': 'category-str-list'})
    category_list = category_list.contents
    category_list = [i.string for i in category_list]
    category_list = [i for i in category_list if '\n' not in i]
    category_list = json.dumps(category_list)    # stringify for sqlite
    return category_list

In [18]:
def get_address(soup):
    address = soup.find('address')
    address = copy.copy(address)    # Make a copy to prevent modifying the original document
    for tag in address.find_all('br'):
        tag.replace_with('\n')
    address = address.text.strip().split('\n')
    address = ', '.join(address)
    return address

In [19]:
def get_neighborhood_list(soup):
    neighborhood_list = soup.find('span', {'class': 'neighborhood-str-list'})
    if neighborhood_list is not None:
        neighborhood_list = neighborhood_list.text
        neighborhood_list = neighborhood_list.strip().split(', ')
        neighborhood_list = json.dumps(neighborhood_list)    # stringify for sqlite
    return neighborhood_list

### Testing

In [20]:
yelp_alias = 'momofuku-má-pêche-new-york-2'

In [21]:
urllib.parse.quote_plus(yelp_alias)

'momofuku-m%C3%A1-p%C3%AAche-new-york-2'

In [22]:
url = 'https://www.yelp.com/biz/{}'.format(yelp_alias)
r = requests.get(url, timeout=5)
soup = bs4.BeautifulSoup(r.text, 'lxml')

In [23]:
yelp_alias = soup.find('meta', {'property': 'og:url'})
yelp_alias = yelp_alias['content'].split('/')[-1]
yelp_alias

'momofuku-m%C3%A1-p%C3%AAche-new-york-2'

In [24]:
price_range = soup.find('span', {'class': 'business-attribute price-range'})
price_range = price_range.text.count('$')
price_range

3

In [25]:
rating = soup.find('div', {'class': 'i-stars'})
rating = rating['title'].split()[0]
rating = float(rating)
rating

3.5

In [26]:
address = soup.find('address')
address = copy.copy(address)    # Make a copy to prevent modifying the original document
for tag in address.find_all('br'):
    tag.replace_with('\n')
address = address.text.strip().split('\n')
address = ', '.join(address)
address

'Chambers Hotel, 15 W 56th St, New York, NY 10019'

### Run

In [34]:
yelp_aliases = pandas.read_csv('yelp_aliases.csv')

In [35]:
yelp_aliases['date_added'] = yelp_aliases['date_added'].apply(lambda x: None if x == '-' else x)
yelp_aliases['date_added'] = pandas.to_datetime(yelp_aliases['date_added'])
yelp_aliases['date_visited'] = pandas.to_datetime(yelp_aliases['date_visited'])

In [36]:
# I did not add aliases for some food carts & bakeries; drop them for now
yelp_aliases = yelp_aliases[yelp_aliases['yelp_alias'].notna()]

In [37]:
# # PROBLEM: chefs club alias changed
# connection = sqlite3.connect('restaurants.db')
# already_done = pandas.read_sql_query('select * from restaurants', connection)
# already_done = already_done['yelp_alias'].tolist()
# not_done = yelp_aliases['yelp_alias'].apply(
#     lambda x: urllib.parse.quote_plus(x) not in already_done)
# yelp_aliases = yelp_aliases[not_done]

In [38]:
connection = sqlite3.connect('restaurants.db')
tables = pandas.read_sql_query("""
select * from sqlite_master
where type = 'table'""", connection)
if 'yelp_raw' not in tables['tbl_name'].values:
    pass

In [39]:
yelp_aliases = yelp_aliases.head()

In [40]:
# Iterate
all_data = pandas.DataFrame()
for index, row in yelp_aliases.iterrows():
    # Set up soup
    yelp_alias = row['yelp_alias']
    url = 'https://www.yelp.com/biz/{}'.format(yelp_alias)
    r = requests.get(url, timeout=5)
    soup = bs4.BeautifulSoup(r.text, 'lxml')
    
    # Get data
    data = collections.OrderedDict()
    data['yelp_alias'] = get_yelp_alias(soup)
    data['is_closed'] = get_is_closed(soup)
    data['business_name'] = get_business_name(soup)
    data['rating'] = get_rating(soup)
    data['review_count'] = get_review_count(soup)
    data['ratings_history'] = get_ratings_history(soup)
    data['price_range'] = get_price_range(soup)
    data['category_list'] = get_category_list(soup)
    data['address'] = get_address(soup)
    data['neighborhood_list'] = get_neighborhood_list(soup)
    print([data['yelp_alias'], data['business_name']])

    # Melt
    data = pandas.Series(data).to_frame().T
    data = data.melt()
    data.columns = ['metric_name', 'metric_value']
    data.insert(0, 'yelp_biz_id', get_yelp_biz_id(soup))
    data.insert(0, 'insert_datetime', datetime.datetime.now())
    
    # Append
    all_data = all_data.append(data, ignore_index=True)

['muk-eun-ji-new-york', 'Muk Eun Ji']
['ramenco-new-york-2', 'RamenCo']
['blt-bar-and-grill-new-york', 'BLT Bar & Grill']
['bills-bar-and-burger-downtown-new-york', 'Bill’s Bar & Burger Downtown']
['ruchi-new-york-2', 'Ruchi']

In [43]:
all_data.head(15)

,insert_datetime,yelp_biz_id,metric_name,metric_value
0,2018-08-27 23:56:54.623531,g_F9WJJpRFB40oPJdoD2uA,yelp_alias,muk-eun-ji-new-york
1,2018-08-27 23:56:54.623531,g_F9WJJpRFB40oPJdoD2uA,is_closed,True
2,2018-08-27 23:56:54.623531,g_F9WJJpRFB40oPJdoD2uA,business_name,Muk Eun Ji
3,2018-08-27 23:56:54.623531,g_F9WJJpRFB40oPJdoD2uA,rating,3.5
4,2018-08-27 23:56:54.623531,g_F9WJJpRFB40oPJdoD2uA,review_count,365
5,2018-08-27 23:56:54.623531,g_F9WJJpRFB40oPJdoD2uA,ratings_history,"{""2016"": [[0, 4.0], [1, 3.5], [2, 3.0], [3, 3...."
6,2018-08-27 23:56:54.623531,g_F9WJJpRFB40oPJdoD2uA,price_range,2
7,2018-08-27 23:56:54.623531,g_F9WJJpRFB40oPJdoD2uA,category_list,"[""Korean"", ""Barbeque""]"
8,2018-08-27 23:56:54.623531,g_F9WJJpRFB40oPJdoD2uA,address,"34 W 32nd St, Fl 1, New York, NY 10001"
9,2018-08-27 23:56:54.623531,g_F9WJJpRFB40oPJdoD2uA,neighborhood_list,"[""Koreatown"", ""Midtown West""]"
10,2018-08-27 23:56:58.060550,XBuzf_C9ewVerOQ0pEpjTA,yelp_alias,ramenco-new-york-2
11,2018-08-27 23:56:58.060550,XBuzf_C9ewVerOQ0pEpjTA,is_closed,True
12,2018-08-27 23:56:58.060550,XBuzf_C9ewVerOQ0pEpjTA,business_name,RamenCo
13,2018-08-27 23:56:58.060550,XBuzf_C9ewVerOQ0pEpjTA,rating,3
14,2018-08-27 23:56:58.060550,XBuzf_C9ewVerOQ0pEpjTA,review_count,229

### Write to DB

In [ ]:
connection = sqlite3.connect('restaurants.db')
all_data.to_sql('yelp_raw', connection, if_exists='append', index=False)

In [ ]:
# data.pivot(index='yelp_biz_id', columns='metric_name', values='metric_value')

In [ ]:
# # TODO: check data is valid before writing to DB
# connection = sqlite3.connect('restaurants.db')
# all_data.to_sql('restaurants', connection, if_exists='replace', index=False)

### Read from DB

In [ ]:
data = pandas.read_sql_query('select * from restaurants', connection)

In [ ]:
data.head()

In [ ]:
data['ratings_history'] = data['ratings_history'].apply(ast.literal_eval)

In [ ]:
data['ratings_history'][0].keys()

In [ ]:
connection = sqlite3.connect('restaurants.db')
pandas.read_sql_query('select * from sqlite_master', connection)